:root {
  --bg-body: #fff;
  --text-color: #222;
  --border-color: #eee;
  --price-color: #666;
  --add-to-coment-button: rgb(0, 142, 245);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #222;
    --text-color: #fff;
    --border-color: #444;
    --price-color: #ccc;
    --add-to-cart-button: rgb(38, 163, 254);
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-body);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.entries {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  padding-bottom: 3em;

}
.entrie__content {
  display: grid;
  font-weight: 300;
  grid-template-rows: 1fr auto auto;
}
@media (min-width: 600px) {
  .entries{
    grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  }
}

@media (min-width: 800px) {
  .entries{
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  }
}

@media (min-width: 1200px) {
  .entries{
    grid-template-columns: repeat(4, calc((100% - 60px) / 4));
  }
}


.entries .entrie {
  border-radius: 5px;
  display: grid;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.entrie__image_container {
  align-content: center;
  aspect-ratio: 1;
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}


.entrie__image {
  object-fit: contain;
  max-width: 50%;
}


.entrie__header {
  padding: .5em;
}

.entrie__date {
  font-weight: 100;
}
.entrie__votes {
  font-weight: 100;
  margin-bottom: 0;
  text-align: center;
}

.entrie__place {
  font-size: 1.15em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
} 

.entrie__email {
  margin-top: 0;
  text-align: center;
  font-weight: 400;
  color: var(--price-color);
}

.entrie__description {
  margin-bottom: 0;
}

.entrie__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.entrie__vote {
  font-family: 'entriess';
}



.entrie__button {
  background: transparent;
  border: 1px solid var(--add-to-coment-button);
  border-radius: 5px;
  color: var(--add-to-coment-button);
  margin: 0 .5em;
  padding: .5em .75em;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

}

.form {
  display: flex;
  margin-bottom: 10em;
  margin-left: 10em;
  margin-right: 10em;
}

.form__input {
  
  flex-grow: 1;
  padding: 1em;
  border: 1px solid var(--add-to-coment-button);
  border-radius: 5px 5px 5px 5px;
  color: var(--text-color);
  margin-right: 1em;
  
}

.form__submit {
  background: transparent;
  border: 1px solid var(--add-to-coment-button);
  border-radius: 5px 5px 5px 5px;
  margin-left: 3em;
  width: 120px;
  color: var(--add-to-coment-button);


}


.order {
  background: transparent;
  border: 1px solid var(--add-to-coment-button);
  border-radius: 5px 5px 5px 5px;
  width: 120px;
  color: var(--add-to-coment-button);
  margin-left: 5px;

}
 .container h1{
  text-align: center;
  margin-top: 5em;
  font-size: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }















/* .entry__list {
   max-width: 800px;
   margin: 0 auto;
 }
 
 .entry {
   display: flex;
   flex-direction: column;
   margin-bottom: 32px;
 }
 
 .entry__header {
   margin-bottom: 16px;
 }
 
 .entry__place {
   font-size: 24px;
   font-weight: bold;
   margin: 0;
 }
 
 .entry__description {
   margin: 8px 0 0;
 }
 
 .entry__photos {
   display: flex;
   flex-wrap: wrap;
 }
 
 .entry__photo {
   max-width: 100%;
   margin-right: 16px;
   margin-bottom: 16px;
 } */