.form {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  padding-bottom: 3em;

  border-radius: 5px;
  display: grid;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.container {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;

}
.form__field {
  margin-bottom: 20px;
}

.form__label {
  color: #080e15;
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-left: 20px;
}

.form__input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease-in-out;
  margin-left: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
}
.form__button:hover {
  background-color: #43a047;
}

.form__error {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.form__success {
  color: #4caf50;
  font-size: 1rem;
  margin-top: 0.25rem;
}
.button{

  width: 80%;
  background-color: #3e8e41;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s;
  margin-left: 45px;
}